        }
        .navbar .menu li{
            list-style: none;
            display: inline-block;
        }
        .navbar .menu li a{
            display: block;
            color: #5f1782;
            font-size: 18px;
            font-weight: 800;
            margin-left: 25px;
            transition: color 0.5s ease;
        }
        .navbar .menu li a:hover{
            color: #fff;
        }
        .showcase-content{
            max-width: 700px;
            margin-top: 150px;
            margin-left: 55%;
        }
        .showcase-content .lead-1{
            font-size: 35px;
        }
        .showcase-content .lead-2{
            font-size: 60px;
            font-weight: 600;
            margin-left: -5px;
        }
        .showcase-content .lead-3{
            font-size: 45px;
            margin: 2px 0;
        }
        .showcase-content .lead-3 span{
            color: #5f1782;
            font-weight: 700;
        }
        span.showcase-content a{
            display: inline-block;
            background: #5f1782;
            color: #fff;
            font-size: 25px;
            padding: 5px 40px;
            margin-top: 15px;
            border: 3px solid #5f1782;
            border-radius: 5px;
        }
        .showcase-content a:hover{
            color: #fff;
            font-weight: bold;
            background: transparent;
        }
    </style>
    <script>
      var typed = new Typed(".effect",{
        Strings:[
        "Computer scientist","Cyber Engineer",
        "Freelancer","Graphic Designer",
        "Data administrator"
        ],
        typespeed: 60,
        backspeed:40,
        loop:true
      });
    </script>
</body>
